.wrap {
    background-color: slategray;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.wrap > div {
    height: 30px;
    flex-grow: 1;
    background-color: skyblue;
    color: white;
    margin-left: 0.2rem;
}